@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=PT+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'PT Sans', sans-serif;
    background-color: #3F3F3F;
    color: white;
}

header {
    padding: 20px;
    background-size: cover;
}

header > h2 {
font-family: 'Josefin Sans', sans-serif;
font-size: 220%;
text-transform: uppercase;
}

#menu {
    font-size: 100%;
    text-transform: uppercase;
    line-height: 1px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 15px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    color: gray;
}

#big-picture {
    background: url(../images/pexels-alari-tammsalu-8024999.jpg) no-repeat center center black;
    width: 100%;
    height: 900px;
}

#text-box {
    color: white;
    font-family: 'PT Sans', sans-serif;
    font-size: 300%;
    background-color: rgba(46, 46, 46, 0.8);
    width: 900px;
    height: fit-content;
    text-align: center;
    
    position: absolute;
    bottom: 140px;
    left: 90px;
}

h1 {
    text-align: center;
    font-size: 250%;

    margin: 70px;
    border: 2px solid white;
    padding: 20px;
}

.information {
    font-size: 110%;
    height: 200px;
    padding: 0 50px 0 50px;
    display: block;
}

#who-are-we {
    max-width: 48%;
    text-align: center;
    display: inline;
    float: left;
}

#programme {
    max-width: 48%;
    text-align: center;
    display: inline;
    float: right;
}

.form {
    padding-bottom: 40px;
}

form { 
    max-width: 600px;
    margin: 0 auto;
    background-color: rgba(46, 46, 46, 0.7);
    padding: 20px 10px 20px 10px;
}

form h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 150%;
}

.form-text {
    width: 98%;
    padding: 3px;
    margin-bottom: 20px;
}

#button {
    padding: 5px;
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
}

#button:hover{
    background-color: #3F3F3F;
    color: white;
    cursor: pointer;
}

footer {
    height: 200px;
    padding-top: 20px;
    border-top: 2px solid white;
    background-color: rgba(46, 46, 46, 0.7);
}

footer h4 {
    text-align: center;
    font-size: 120%;
    padding: 10px;
}

footer p {
    text-align: center;
    padding: 2px;
}

.social {
    text-align: center;
    }

.social li {
    display: inline;
    list-style-type: none;
}

.social i {
    font-size: 200%;
    padding: 2%;
    color: white;
}

.social i:hover {
    color: gray;
}

@media screen and (max-width: 1200px) {
    .information {
        height: 250px;
    }
}

@media screen and (max-width: 1020px) {
    #text-box {
     left: 10px;
     font-size: 230%;
     width: 750px;
     height: 150px;
    } 
 }

@media screen and (max-width: 960px) {
    .information {
        height: 300px;
        margin-bottom: 30px;
    }
}


@media screen and (max-width: 770px) {
    .information {
        height: 370px;
        margin-bottom: 30px;
    }

    #text-box {
        font-size: 200%;
        width: 650px;
        height: 120px;
    }
}

@media screen and (max-width: 660px) {
    #big-picture {
        background: url(../images/pexels-alari-tammsalu-8024999\ smaller.jpg) no-repeat center center black;
        width: 100%;
        height: 367px;
    } 

    #text-box {
        font-size: 100%;
        width: 250px;
        height: 100px;
        top: 200px;
        left: 20px;
    }

    h1 {
        font-size: 150%;
    }

    .information {
        font-size: 95%;
        height: 340px;
    }
}

@media screen and (max-width: 540px) {
    .information {
        font-size: 90%;
        height: 400px;

    }
}

@media screen and (max-width: 450px) {
    h1 {
        font-size: 110%;
    }

    #menu {
        margin-top: 6px;
    }
    
    .information {
        height: 400px;
        display: block;
        padding: 0 10px 0 10px;
    }

    #who-are-we {
        display: inline;
        float: none;
    }

    #programme {
        display: inline;
        float: none;
    }

    hr {
        height: 50px;
    }
}

@media screen and (max-width: 375px) {
    header > h2 {
        text-align: center;
        float: none;
    }
    
    #menu {
        font-size: small;
   }
   
    #text-box {
        font-size: 90%;
        width: 220px;
        height: 90px;
        top: 250px;
        left: 20px;
    }

    h1 {
        font-size: 90%;
        padding: 10px;
        margin: 30px;
    }

    .information {
        height: 350px;
    }

    #who-are-we {
        font-size: small;
    }

    #programme {
        font-size: small;
    }

    hr {
        height: 30px;
    } 

    form h2 {
        font-size: 100%;
    }
}
